.bg-light-grey {
  background-color: #e3e6e6;
}

.text-dark-grey {
  color: #333;
}


@keyframes slide-highlight {
    0%, 100% {
      background-position: 200% center;
    }
    50% {
      background-position: 0 center;
    }
  }
  
  .animate-sideways::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right, 
      transparent 0%, 
      rgba(255, 255, 255, 0.1) 50%, 
      transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    animation: slide-highlight 3s linear infinite;
  }
  

  /* text animation: Full stack developer */
  @keyframes typing {
    0% { width: 0; }
    50% { width: 100%; } 
    100% { width: 100%; }
  }
  
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 20s steps(40, end) infinite;
    border-right: none; 
  }
  

  /* light play */

  @keyframes lightplay {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .lightplay-text {
    background: linear-gradient(
      90deg, 
      rgba(255, 255, 255, 1) 0%, 
      rgba(129, 129, 129, 1) 50%, 
      rgba(255, 255, 255, 1) 100%
    );
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent;
    animation: lightplay 3s ease-in-out infinite;
  }
  
  
  /* indicating scroll down */
  .scroll-downs {
    transform: translateX(-50%);
    text-align: center;
  }
  
  .mousey {
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width: 25px;
    height: 45px;
    position: relative;
    top: 0;
    border: 2px solid #6366F1; 
  }
  
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #6366F1;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes scroll {
    0% {
      top: 8px;
      opacity: 1;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
  }
  
  /* Default bottom margin for smaller screens */
.follow-down-animation-container {
  margin-bottom: 150px;
}

/* For screens 410px or wider */
@media (min-width: 410px) {
  .follow-down-animation-container {
    margin-bottom: 140px;
  }
}

/* For screens 730px or wider */
@media (min-width: 730px) {
  .follow-down-animation-container {
    margin-bottom: 120px;
  }
}
