.nav-link {
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    color:'red'
  }
  
  .nav-link:hover {
    color: #1a202c;
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6366f1;
    transition: all 0.3s;
  }
  
  .nav-link:hover::before {
    width: 100%;
  }
  




  